@typeparam TRow

<CascadingValue IsFixed="true" Value="this">@ChildContent</CascadingValue>

<table class="table @TableCSS">
    <thead>
        <tr>

        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
